body{
  background: url(CWALL3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1px;
  background-attachment: fixed; 
}           
form{
 background-color: rgb(236, 233, 15);
}
