body{
  background: url("CWALL3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 1px;
  background-attachment: fixed; 
}           
form{
 background-color: rgba(255, 232, 0, 0.6);
}
